body {
  width: 575px;
  height: 575px;
  display: grid;
  grid-template-areas:
    'header'
    'ads'
    'article'
    'footer';
  grid-template-rows: 40px 62px 1fr 40px;
  grid-template-columns: 100%;
  grid-row-gap: 0;
  margin: 0;
  color: #fff;
  font-family: Helvetica, sans-serif;
  font-size: 14px;
  border: 2px solid #fff;
  position: relative;
}

article {
  background: #25303b;
}

header,
footer,
nav {
  padding: 1.2em;
  background: #25303b;
}

#pageHeader {
  grid-area: header;
  text-align: center;
  font-size: 18px;
  padding: 10px;
}

#pageFooter {
  grid-area: footer;
}

#mainArticle {
  grid-area: article;
}

#mainNav {
  grid-area: nav;
}

#siteAds {
  grid-area: ads;
  text-align: center;
}

#siteAds input {
  height: 38px;
  color: #25303b;
  text-align: center;
  font-size: 18px;
  border: none;
  margin-top: 10px;
  border-radius: 30px;
  background-color: #eee;
  outline: none;
}

#siteAds button {
  height: 40px;
  color: #25303b;
  text-align: center;
  font-size: 18px;
  border: none;
  padding: 0 20px;
  cursor: pointer;
  border-radius: 30px;
  background-color: #eee;
  outline: none;
  transition: transform 200ms ease-in-out;
}

#siteAds button:active {
  transform: scale(0.9);
}

#siteAds button i.fas {
  margin-right: 10px;
  font-size: 18px;
}






// Base styles
// :root {
//   font-size: $font-size-rwd;
// }

// body {
//   font-family: $font-main;
//   font-size: $font-size;
//   font-weight: 300;
//   line-height: 1.2;
//   @include reset;
//   color: $color-text;
//   background-color: $color-back;
// }

// h1,
// h2 {
//   font-size: 2em;
//   font-weight: 500;
//   margin: 1.8em 0 0 0;
// }

// h2 {
//   font-size: 1.5em;
// }

// p {
//   margin: 1em 0 0 0;
// }

// h1+p,
// h2+p {
//   margin-top: 0.25em;
// }

// ul {
//   list-style-type: square;
//   padding: 0;
//   margin: 1em 0 1.5em 3em;
// }

// li {
//   padding: 0;
//   margin: 0.6em 0;
// }

// pre {
//   white-space: pre;
//   padding: 0.2em 0.4em;
//   margin: 1em 0 1.5em 3em;
//   background-color: $color-code;
//   border-radius: 0.2em;
//   overflow-x: auto;
// }

// code {
//   font-family: $font-code;
//   font-size: 1em;
//   background-color: $color-code;
//   border-radius: 0.2em;
// }

// strong {
//   font-weight: 600;
// }

// :not(pre)>code {
//   padding: 0.1em 0.3em;
// }

// a:link,
// a:visited {
//   font-weight: 400;
//   text-decoration: none;
//   color: $color-link;
// }

// a:hover,
// a:active {
//   text-decoration: underline;
//   text-decoration-skip-ink: auto;
//   color: $color-hovr;
// }
