body {
  width: 575px;
  height: 575px;
  display: grid;
  grid-template-areas:
    'header'
    'ads'
    'article'
    'footer';
  grid-template-rows: 40px 62px 1fr 40px;
  grid-template-columns: 100%;
  grid-row-gap: 0;
  margin: 0;
  color: #fff;
  font-family: Helvetica, sans-serif;
  font-size: 14px;
  border: 2px solid #fff;
}

article {
  background: #25303b;
}

header,
footer,
nav {
  padding: 1.2em;
  background: #25303b;
}

#pageHeader {
  grid-area: header;
  text-align: center;
  font-size: 18px;
  padding: 10px;
}

#pageFooter {
  grid-area: footer;
}

#mainArticle {
  grid-area: article;
}

#mainNav {
  grid-area: nav;
}

#siteAds {
  grid-area: ads;
}

#siteAds input {
  height: 38px;
  color: #25303b;
  text-align: center;
  font-size: 18px;
  border: none;
  margin-top: 10px;
  border-radius: 30px;
  background-color: #eee;
  outline: none;
}

#siteAds button {
  height: 40px;
  color: #25303b;
  text-align: center;
  font-size: 18px;
  border: none;
  padding: 0 20px;
  cursor: pointer;
  border-radius: 30px;
  background-color: #eee;
  outline: none;
  transition: transform 200ms ease-in-out;
}

#siteAds button:active {
  transform: scale(0.9);
}

#siteAds button i.fas {
  margin-right: 10px;
  font-size: 18px;
}

#result-container {
  display: grid;
  grid-column-gap: 5px;
  grid-template-columns: 1fr 70%;
  padding: 0;
}

.result-item {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px;
  margin-bottom: 5px;
  font-size: 14px;
  text-align: center;
}

section#timeline {
  width: 80%;
  margin: 0 auto;
  position: relative;
}

section#timeline:before {
  content: '';
  display: block;
  position: absolute;
  left: 101%;
  top: 0;
  margin: 0 0 0 -1px;
  width: 2px;
  height: 100%;
  background: rgba(255, 255, 255, 0.2);
}

section#timeline article {
  width: 100%;
  margin: 0 0 20px 0;
  position: relative;
}

section#timeline article:after {
  content: '';
  display: block;
  clear: both;
}

section#timeline article div.inner {
  width: 90%;
  float: left;
  margin: 5px 0 0 0;
  border-radius: 6px;
}

section#timeline article div.inner span.date {
  display: block;
  width: 70px;
  height: 60px;
  padding: 5px 0;
  position: absolute;
  top: 0;
  left: 100%;
  margin: 0 0 0 -32px;
  border-radius: 100%;
  font-size: 12px;
  font-weight: 900;
  text-transform: uppercase;
  background: #25303b;
  color: rgba(255, 255, 255, 0.5);
  border: 2px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 0 7px #25303b;
}

section#timeline article div.inner span.date span {
  display: block;
  text-align: center;
}

section#timeline article div.inner span.date span.day {
  font-size: 14px;
}

section#timeline article div.inner span.date span.month {
  font-size: 16px;
}

section#timeline article div.inner span.date span.year {
  font-size: 10px;
}

section#timeline article div.inner h2 {
  padding: 10px;
  margin: 0;
  color: #fff;
  font-size: 18px;
  letter-spacing: 1px;
  border-radius: 6px 6px 0 0;
  position: relative;
}

section#timeline article div.inner h2:after {
  content: '';
  position: absolute;
  top: 20px;
  right: -5px;
  width: 10px;
  height: 10px;
  -webkit-transform: rotate(-45deg);
}

section#timeline article div.inner p {
  padding: 15px;
  margin: 0;
  font-size: 14px;
  background: #fff;
  color: #656565;
  border-radius: 0 0 6px 6px;
}

section#timeline article:nth-child(1) div.inner h2 {
  background: #e74c3c;
}

section#timeline article:nth-child(1) div.inner h2:after {
  background: #e74c3c;
}

section#timeline article:nth-child(2) div.inner h2 {
  background: #2ecc71;
}

section#timeline article:nth-child(2) div.inner h2:after {
  background: #2ecc71;
}

section#timeline article:nth-child(3) div.inner h2 {
  background: #e67e22;
}

section#timeline article:nth-child(3) div.inner h2:after {
  background: #e67e22;
}

section#timeline article:nth-child(4) div.inner h2 {
  background: #1abc9c;
}

section#timeline article:nth-child(4) div.inner h2:after {
  background: #1abc9c;
}

section#timeline article:nth-child(5) div.inner h2 {
  background: #9b59b6;
}

section#timeline article:nth-child(5) div.inner h2:after {
  background: #9b59b6;
}

.historic {
  font-size: 34px;
  padding: 12px;
  float: right;
  color: Mediumslateblue;
  cursor: pointer;
}






// Base styles
// :root {
//   font-size: $font-size-rwd;
// }

// body {
//   font-family: $font-main;
//   font-size: $font-size;
//   font-weight: 300;
//   line-height: 1.2;
//   @include reset;
//   color: $color-text;
//   background-color: $color-back;
// }

// h1,
// h2 {
//   font-size: 2em;
//   font-weight: 500;
//   margin: 1.8em 0 0 0;
// }

// h2 {
//   font-size: 1.5em;
// }

// p {
//   margin: 1em 0 0 0;
// }

// h1+p,
// h2+p {
//   margin-top: 0.25em;
// }

// ul {
//   list-style-type: square;
//   padding: 0;
//   margin: 1em 0 1.5em 3em;
// }

// li {
//   padding: 0;
//   margin: 0.6em 0;
// }

// pre {
//   white-space: pre;
//   padding: 0.2em 0.4em;
//   margin: 1em 0 1.5em 3em;
//   background-color: $color-code;
//   border-radius: 0.2em;
//   overflow-x: auto;
// }

// code {
//   font-family: $font-code;
//   font-size: 1em;
//   background-color: $color-code;
//   border-radius: 0.2em;
// }

// strong {
//   font-weight: 600;
// }

// :not(pre)>code {
//   padding: 0.1em 0.3em;
// }

// a:link,
// a:visited {
//   font-weight: 400;
//   text-decoration: none;
//   color: $color-link;
// }

// a:hover,
// a:active {
//   text-decoration: underline;
//   text-decoration-skip-ink: auto;
//   color: $color-hovr;
// }
