// import all styles

// helpers
@import 'helpers/_mixins';
@import 'helpers/_variables';

// base
@import 'base/_base';
// @import 'base/_layout';
// @import 'base/_normalize';

// components
@import'components/search';
@import'components/_notification';
@import'components/_loader';
// @import 'components/_header';
// @import 'components/_footer';
// @import 'components/_iconlist';
// @import 'components/_linklist';

// animations
@import 'animations/_fade';
@import 'animations/_move';
